body{
	background-color:#880E4F
; 
}
#header-nav{
	background-color:#FFC400;
	border-radius: 0;
}

.navbar-brand h1{
	text-transform: uppercase;
	font-family: 'oxygen', sans-serif;
	font-size: 1 ems;
	text-shadow: 1px 2px 2px #827717;
	color: #33691E;
	margin: 0px;
	line-height: .75;
}

.navbar-brand a:hover,.navbar-brand  a:focus{
	text-decoration: none;
}
  button.navbar-toggle, span.icon-bar{
	border: 1px solid  #880E4F;
}
#nav-list a .visible-xs{
	text-align: center;
	background-color: #EEFF41;
}
/*/text-align: center;*/
h2{text-transform:uppercase; }
 .row{box-sizing: border-box;}
div #tile{
	position: relative;
	width=100%;
	margin-bottom: :10px;
	background-color: #E1BEE7;
	top:0;
	text-align:center; 

}
  div #tile2{
	position: relative;
	width=100%;
	margin-bottom: :10px;
	background-color: #E1BEE7;
	top:0;
	text-align:center 
	}
	div #tile3{
	position: relative;
	width=100%;
	margin-bottom:10px;
	background-color: #E1BEE7;
	top:0;
	text-align:center
}


#content1{
	box-sizing: border-box;
	padding: 5px;
	background-color: #FF80AB;
	border-color: #000000;
	border-width:5px;
	border-radius: 10px; 
	margin-bottom  : 5px;
	border-color: fff;
}
#content2{
	box-sizing: border-box;
	padding: 5px;
	background-color: #FF80AB;
	border-color: #000000;
	border-width:5px;
	border-radius: 10px; 
	margin-bottom  : 5px;


}
#content{
	box-sizing: border-box;
	padding: 5px;
	background-color: #FF80AB;
	border-color: #000000;
	border-width:5px;
	border-radius: 10px; 
	margin-bottom : 5px;

}


#nav-list{text-align: center;}

